In [14]:
import rispy

filepath = './data/Pure research outputs TPM - 261021.ris'
with open(filepath, 'r', encoding="utf8",
                 errors='ignore') as bibliography_file:
    entries = rispy.load(bibliography_file)
#    for entry in entries:
#        print(entry['id'])
#        print(entry['first_authors'])

print(len(entries))

17712

In [ ]:
### Then change this into a pandas df

In [38]:
import pandas as pd
df = pd.DataFrame(entries)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17712 entries, 0 to 17711
Data columns (total 29 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   type_of_reference  17712 non-null  object
 1   primary_title      17712 non-null  object
 2   secondary_title    3455 non-null   object
 3   authors            17510 non-null  object
 4   notes              3807 non-null   object
 5   year               17712 non-null  object
 6   publication_year   17712 non-null  object
 7   notes_abstract     3469 non-null   object
 8   abstract           3469 non-null   object
 9   keywords           14073 non-null  object
 10  url                4824 non-null   object
 11  unknown_tag        12811 non-null  object
 12  doi                4075 non-null   object
 13  type_of_work       17712 non-null  object
 14  accession_number   1833 non-null   object
 15  volume             6668 non-null   object
 16  journal_name       6986 non-null   object
 17  alternate_title3   6986 non-null   object
 18  issn               12573 non-null  object
 19  note               624 non-null    object
 20  number             4876 non-null   object
 21  start_page         13815 non-null  object
 22  end_page           13230 non-null  object
 23  access_date        4782 non-null   object
 24  custom2            35 non-null     object
 25  tertiary_title     482 non-null    object
 26  publisher          9641 non-null   object
 27  place_published    8455 non-null   object
 28  secondary_authors  6491 non-null   object
dtypes: object(29)
memory usage: 3.9+ MB

In [40]:
len(df['authors'][0])

10

In [41]:
#df['authors'] = [', '.join(map(str, l)) for l in df['authors']]
df['authors'] = [', '.join(map(str, l)) for l in df['authors']]

TypeError: 'float' object is not iterable

In [37]:
df['authors'][0]

"[, ', D, w, i, v, e, d, i, ,,  , Y, o, g, e, s, h,  , K, ., ', ,,  , ', H, u, g, h, e, s, ,,  , L, a, u, r, i, e, ', ,,  , ', C, h, e, u, n, g, ,,  , C, h, r, i, s, t, y,  , M, ., K, ., ', ,,  , ', C, o, n, b, o, y, ,,  , K, i, e, r, a, n, ', ,,  , ', D, u, a, n, ,,  , Y, a, n, q, i, n, g, ', ,,  , ', D, u, b, e, y, ,,  , R, a, m, e, s, h, w, a, r, ', ,,  , ', J, a, n, s, s, e, n, ,,  , M, a, r, i, j, n, ', ,,  , ', J, o, n, e, s, ,,  , P, a, u, l, ', ,,  , ', S, i, g, a, l, a, ,,  , M, a, r, i, a, n, n, a, ', ,,  , ', V, i, g, l, i, a, ,,  , G, i, a, m, p, a, o, l, o, ', ]"

In [32]:
df.to_csv("data/Pure_TPM.csv", index = False)

PermissionError: [Errno 13] Permission denied: 'data/Pure_TPM.csv'

In [23]:
df['authors']

0        [Dwivedi, Yogesh K., Hughes, Laurie, Cheung, C...
1        [Tsalidis, Georgios Archimidis, Korevaar, Gijs...
2                         [Melliger, Marc, Chappin, Emile]
3        [Lombardi, Francesco, Rocco, Matteo Vincenzo, ...
4        [Wierling, August, Schwanitz, Valeria Jana, Al...
                               ...
17707    [van Daalen, C., Stassen, H. G., Thomeer, R. T...
17708                                     [Van Daalen, C.]
17709                                      [Verbraeck, A.]
17710                                      [Verbraeck, A.]
17711    [Jaspers, R. B.M., van Daalen, C., van der Hel...
Name: authors, Length: 17712, dtype: object